<h1><a routerLink="/projects" class="breadcrumb">Projects</a> / {{projectName}}</h1>

<section class="table">

    <div *ngIf="!hasLogin" id="new-row" class="row">
        <a routerLink="/new-testcase">> Set login logic</a>
        <p>Add login logic for optimized tests for this project <a class="info" href="#">(Learn more)</a></p>
    </div> 

    <div id="new-row" class="row">
        <a routerLink="/new-testcase">+ New testcase</a>
        <p>Create a new testcase for this app</p>
    </div>

    <div class="row" *ngFor="let testcase of testcases">
        <a routerLink="/testcases/{{testcase.id}}">{{testcase.name}}</a> <br>
        <p>Last run: #2 23/04 08:25 - {{testcase.status}}</p>
    </div>

    <div *ngIf="hasLogin" id="new-row" class="row">
        <a routerLink="/new-testcase">> Edit login logic</a>
        <p>This project is currently optimized for test speed. Use the LOGIN keyword to make use of this.</p>
    </div>


</section>