<div style="text-align:center;">
  <h3>Arduina</h3>

  <div id="header"></div>

  <h1>Next generation test automation</h1>
  <h1 class="sub">Simple commands turn your usecases into robust regression tests across UI, APIs, databases, email and more ...</h1>

  <a routerLink="/projects" class="call-to-action">> get started</a>

  <h2>Features</h2>

  <h4>Focus on writing use cases</h4>
  <p>Tests are written in simple commands. Your testers should not be focusing on how to test something, but rather on what to test. Behind the scenes we take care of translating it to robust code</p>

  <h4>Beyond UI testing</h4>
  <p>Set up connectors which can make your tests interact with complex internal systems, not just UI. Ensure records show up in a database, hit internal REST APIs, see if that mail really arrived.</p>

  <h4>Run it centrally but securely</h4>
  <p>Download and place the PROXY inside your network. Without any additional configuration, it will connect to the central platform and run any tests you send its way. It is self-updating - so you don't even have to worry about maintaining it.</p>



</div>
