div.outer {
    background: black;
    padding: 20px;
    margin-right: 5em;
    margin-top:5px;
    font-family: monospace;
    font-size: 18px;
}
div.inner {
    display: flex;
}
span.info {
    white-space: nowrap;
    font-size: 14px;
    line-height: 22px;
    height: 22px;
    color: gray;
    margin-top: 6px;
    display: block;
}
span.active-line {
  color: #c657ff;
  font-family: monospace;
  font-size: 18px;
}
input[type="text"] {
    display: block;
    width: 100%;
    outline: 0;
    color: white;
    border: 0;
    background: black;
    margin-top: 5px;
    font-family: monospace;
    font-size: 18px;
}
input[type="text"]:focus {
  color: #55a8f7;
  font-family: monospace;
  font-size: 18px;
}
.error {
    color: #f55f67;
    border: 1px solid #a61d24;
    padding: 10px;
    margin-bottom: 10px !important;
}
.warning {
    color: orange;
    border: 1px solid orange;
    padding: 10px;
    margin-bottom: 10px !important;
}
.error p, .warning p {
    font-family: monospace;
    font-size: 17px;
    padding: 5px;
    margin: 0;
}
.error a {
    color: #ff9ca1;
    text-decoration: underline;
}
.success {
    color:#a0d2a4 !important;
}
.failed {
    color:red !important;
}