<div>
  <!-- notActive is a reference to else -->
  <div *ngIf="!isLanding; else landing">
    <div style="text-align:center">
      <ul>
        <li><a routerLink="/team" routerLinkActive="active">Team</a></li>
        <li><a routerLink="/projects" routerLinkActive="active">Projects</a></li>
        <li><a routerLink="/testcases" routerLinkActive="active">Testcases</a></li>
      </ul>
    </div>

    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
  <ng-template #landing>
    <router-outlet></router-outlet>
  </ng-template>
</div>
