<h1>Dashboard</h1>

<p>Last 60 graph</p>

<div class="trends">
  <div class="trend">
    <span class="title">Total runs</span>
    <span class="numbers">324</span>
  </div>
  <div class="trend">
    <span class="title">Average test length</span>
    <span class="numbers">5m 12s</span>
  </div>
  <div class="trend">
    <span class="title">Test length trend</span>
    <span class="numbers">+ 5%</span>
  </div>
</div>

<h2>Pending</h2>
<p>No runs yet</p>

<h2>Error</h2>
<p>No runs yet</p>

<h2>Success</h2>
<p>No runs yet</p>

<h2>Need attention</h2>
<p>No runs yet</p>
