.container {
  width:100%;
  clear:both;
  display: flex;
}
.left {
  width:65%;
  display:inline-block;
  float:left;
}
.right {
  width:35%;
  display:inline-block;
}
.text-info {
  position: relative;
  top: 18px;
  right: 20px;
}
.align-r {
  text-align: right;
}
