.container {
  width:100%;
  clear:both;
  display: flex;
  padding-top: 10px;
}
.left {
  width:65%;
  float:left;
  margin-top: 0;
}
.right {
  width:35%;
  display:inline-block;
}
.text-info {
  position: relative;
}
.align-r {
  text-align: left;
  float: right;
  margin-top: -43px;
}
a.button {
  top: 0;
  margin-left: 10px;
}
h1 {
  margin-bottom: 0;
}
