<h1><a routerLink="/projects" class="breadcrumb">Projects</a> / <a routerLink="/projects/1" class="breadcrumb">Project name</a> / Testcase name</h1>

<div class="align-r">
  <span class="text-info">{{lastRun}}</span>
  <a class="button" (click)="startRun()" *ngIf="!isRunning">&gt; Manual run</a>
  <a class="button cancel" (click)="cancelRun()" *ngIf="isRunning">&gt; Cancel run</a>
</div>

<div class="container">
  <div class="left">
    <app-editor [nodes]="nodes"></app-editor>
  </div>
  <div class="right">
    <app-editor-docs></app-editor-docs>
  </div>
</div>